<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/chats">
        <h1>
            New message form:
        </h1>
        <input style="height:30px; width:200px;" name="from" placeholder="Write your name">
        <br>
        <br>
        <input style="height:30px; width:200px;" name="to" placeholder="Write recivers name">
        <br>
        <br>

        <textarea style="height:30px; width:200px;" name="msg" placeholder="write your message..."></textarea>
        <br>
        <br>
        <button>Submit</button>


    </form>
</body>

</html>